@keyframes shake {
    0% {
        transform: rotateZ(-90deg);
        bottom: -45%;
    }
    50% {
        transform: rotateZ(-105deg);
        bottom: -30%;
    }
    100% {
        transform: rotateZ(-90deg);
        bottom: -45%;
    }
}

/* inViewport */

[data-in_viewport="fade-left"] {
    transform: translateX(-50%);
    opacity: 0;
}

[data-in_viewport="fade-left"].is-in_viewport {
    transform: translateX(0);
    opacity: 1;
}
[data-in_viewport="fade-right"] {
    transform: translateX(50%);
    opacity: 0;
}

[data-in_viewport="fade-right"].is-in_viewport {
    transform: translateX(0);
    opacity: 1;
}

[data-in_viewport="scale-in"] {
    transform: scale(0.1);
}
[data-in_viewport="scale-in"].is-in_viewport {
    transform: scale(1);
}

[data-in_viewport="fade-rotate"] {
    opacity: 0;
}
[data-in_viewport="fade-rotate"].is-in_viewport {
    transform: rotate(180deg);
    opacity: 1;
}