@import 'animations.css';
@import 'utils.css';
@import 'vars.css';
@import 'globals.css';

@import 'tailwindcss' source('..');
@config '../../tailwind.config.js';

html,
body,
#app {
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow: hidden;
}
